<!DOCTYPE html>
<html>
<head>
    <!--stylesheets-->
    <link rel="stylesheet" href="css/main.css">

    <!--javaScripts-->
	<script src="bower_components/angular/angular.js"></script>
    <script src="js/data.js"></script>
	<script src="js/main.js"></script>
	<script src="js/tabletop.js"></script>

    <!--fonts-->

</head>
<body ng-app="agendaApp">
	<section ng-controller="agendaCtrl">

		<aside class="left">
			<div class="above">
				<p class="topic"></p>
				<p class="date">{{date()}}</p>
				<p class="clock">
					<span class="hour">{{time.hour}}</span> : 
					<span class="min">{{time.min}}</span> :
					<span class="sec">{{time.sec}}</span>
				</p>
			</div>
			
			<div class="ongoing">
                <div class="remaining">
                    <p class="tag">Remains</p>
                    <span class="hour">{{remainingHours || '00'}}</span> :
                    <span class="min">{{remainingMins || '00'}}</span>
                </div>
			</div>

			<div class="below">
                <p class="tag">Meeting progress</p>
				<div class="progressBar"><div class="progress" style="width: {{progressPercentage}}%"></div></div>
			</div>


		</aside>

        <div class="events">

            <div class="event {{isOn(event.start, event.end, $index)}}" ng-repeat="event in events">
                <!--for future use in case-->
                <div class="left">

                </div>


                <div class="right">
                    <div class="time">
                        <span class="icon time"></span>
                        <span class="start">{{event.start}}</span>
                        <span class="end">{{event.end}}</span>
                        <span>{{ duration(event.start, event.end).join('H') + 'M' }}</span>

                    </div>

                    <p class="topic">
                        <span class="icon {{event.type}}"></span>
                        {{event.topic}}
                    </p>

                    <p class="people">
                        <span class="icon people"></span>
                        {{event.people}}
                    </p>

                    <figure class="circle"></figure>
                </div>

            </div>

        </div>

        <section class="panel">

            <h2>{{panelMessage}}</h2>

            <div class="device {{parseStatus(value.status.value)}}" ng-repeat="(name, value) in devices | ignoreKey: deviceIgnoreList">

                <div class="header">
                    <h5>{{name}}</h5><input type="checkbox" ng-model="value.status.autoUpdate"/>
                </div>


                <div ng-repeat="(varName, value) in value | ignoreKey: deviceVarIgnoreList " class="{{value.type}}">

                    <input type="checkbox" ng-model="value.autoUpdate" ng-show="value.type === 'variable'"/>
                    <input type="text" ng-model="args" ng-show="value.type === 'function'"/>
                    <button ng-show="value.type === 'function'" ng-click="triggerFn(name, varName, args)">Call</button>


                    <span class="value {{value.autoUpdate}}">{{value.value || "N/A"}}</span>
                    <span class="name">{{spaceCamelCase(varName)}}</span>
                    <span class="description">{{value.description}}</span>


                </div>

            </div>

        </section>

        <button class="panel" ng-click="togglePanel()"></button>
	</section>
</body>
</html>