@mixin clock($a){
  background: linear-gradient(to bottom, rgba(white,0), rgba(white,0) 49%, rgba(white, 0.2) 51%, rgba(white, 0.2));
  border-radius: 2*$a;
  padding: $a 3*$a;
  border: 1px solid white;
}


/***********************

          Z-INDEX

************************/
$events-z: 10;
$aside-z: 80;
$timeline-z: 0;
$panel-z: 100;



/***********************

          COLOR

************************/

/* BACKGROUND */

  $aside-bg: #2f2f2f;
  $aside-ongoing-bg: #ff6450;

  $main-bg: url('../img/artistic-photography-317486 copy.jpg');

  $right-not-ongoing-bg: rgba(black, 0.8);
  $right-ongoing-bg: #ff6450;
  $panel-bg: rgba(black, 0.9);
  $panel-device-bg: #333333;
  $progress-bg: url('../img/progress_v.png');



/* FONT */
  $right-not-ongoing-color: #c0c0c0;
  $right-ongoing-color: white;
  $device-var-name-color: #da97e7;
  $device-fn-name-color: #c8de6a;


/* OTHER */
  $circle-color: white;
  $panel-on-color: #33ff3b;
  $panel-off-color: #ff4343;




/***********************

       DIMENSIONS

************************/

/* BOX MODEL */

  /* aside */
  $aside-left-total-width: 22%;
  $aside-right-total-width: 0; /* aside right not in use anymore*/
  $event-left-total-width: $aside-left-total-width;

  $now-event-top: 400px;


  $aside-above-margin-tb:  20px;
  $above-now-height: 300px;

  /* events */
  $event-total-height: 130px;
  $event-border-bottom: 10px;
  $event-padding-tb: 10px;
  $event-left-padding-lr: 1%;
    $event-height: $event-total-height - $event-border-bottom;
    $event-left-height: $event-height - 2*$event-padding-tb;
    $event-left-width: $event-left-total-width - 2 * $event-left-padding-lr;
    $event-right-total-width: 100% - $event-left-total-width;
    $event-right-padding-lr: $event-left-padding-lr;
    $event-right-width: $event-right-total-width - 2 * $event-right-padding-lr;
    $event-right-height: $event-left-height;

    /* circle */
    $event-circle-size: 30px;
    $event-circle-stroke-width: 2px;
    $event-circle-width: $event-circle-size - 2*$event-circle-stroke-width;
    $event-circle-right: 20px;
    $timeline-width: 2px;

  /* panel */
    $panel-height: 88%;
    $panel-width: $panel-height;
    $panel-padding-tb: ( 100% - $panel-height ) /2;
    $panel-padding-lr: ( 100% - $panel-width ) /2;

      /* agenda */
      $panel-agenda-status-bottom: 24px;
      $panel-agenda-border-bottom: 2px solid white;

      /* device */
      $panel-device-width: 98%;
      $panel-device-padding-tb: 10px;
      $panel-device-margin-tb: 10px;
      $panel-device-padding-lr: ( 100% - $panel-device-width ) /2;

      $panel-device-header-height: 30px;
      $panel-device-header-margin-bottom: 10px;



      $panel-device-indication-light-size: 10px;
      $panel-device-indication-light-border-radius: 2px;

        /*variable*/
        $panel-varfn-height: 22px;
        $panel-varfn-margin-tb: 2px;


        /* var */





/* ICONS */
  $icon-size: 20px;


/* FONTS */


  $base-fs: 16px;
    /*agenda*/
    $tag-fs: $base-fs;

    $aside-above-fs: $base-fs * 2.25;
    $aside-ongoing-fs: $base-fs * 2;
    $event-fs: $base-fs * 1.5;
    $event-2-fs: $base-fs * 1.25;

    $event-topic-fs: $base-fs * 1.75;
    $event-people-fs: $base-fs * 1.25;


    /*panel*/
    $panel-base-fs: $base-fs;
    $panel-agenda-status-fs: $panel-base-fs * 3;
    $panel-device-name-fs: $panel-base-fs * 1.25;
    $panel-device-var-name-fs: $panel-base-fs * 1;
    $panel-device-var-description-fs: $panel-base-fs * 1;


