@import "var.scss";

*{
  margin: 0;
  padding: 0;
  font-family:  'Helvetica Neue' , sans-serif;
  color: white;
  font-weight: 100;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;

  p.tag{
    font-size: $tag-fs;
    margin: 12px auto 8px;
    text-align: center;
  }
}


.progressBar{
  width: 80%;
  height: 20px;
  margin: 20px auto;
  position: relative;
  border: 1px solid white;
  border-radius: 15px;
  overflow: hidden;

  .progress{
    background: $aside-ongoing-bg;
    background-image: $progress-bg;
    background-size: contain;
    height: 100%;
  }
}

button{
  height: 40px;
  width: 40px;
  border: 1px solid white;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 199;
  background: url('../img/icon/controlpanelwhite.png');
  background-size: contain;
}


/*****************************************************************************************






                                            (__)　
                                            /oo\\________
                                            \　/　　　　 \---\
                                             \/　　　 /　 \　 \
                                            　　\\_|___\\_|/  *
                                            　　  ||　 YY|   ***
          **                                　　  ||　　||   ****
*****************************************************************************************
*****************************************************************************************
*****************************************************************************************/


section{
  float: left;
  width: 100%;
  height: 100%;
  background: $main-bg;
  background-size: cover;

  aside.left{
  height: 100%;
  width: $aside-left-total-width;
  background: $aside-bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $aside-z;
  box-shadow: 0 0 10px black;

/******************************************** Aside -> Above ********************************************/
    div.above{
      width: 100%;
      height: $above-now-height;

      p.date, p.clock{
        width: 100%;
        float: left; /* avoid content overflow*/
        font-size: $aside-above-fs;
        color: white;
        text-align: center;
        margin: $aside-above-margin-tb 0;
      }

      p.clock span{
        @include clock(2px);
      }

    }

/******************************************** Aside -> Ongoing ********************************************/

    div.ongoing{

      height: 100px;
      width: 100%;

      margin: 0;
      padding: $event-padding-tb 0;
      font-size: $aside-ongoing-fs;
      text-align: center;
      color: white;

      background: $aside-ongoing-bg;


      div.remaining span{
        @include clock(2px);
      }
    }

    div.below{

    }

  }


  aside.right{
    height: 100%;
    width: $aside-right-total-width;
    background: $aside-bg;
    position: fixed;
    top: 0;
    right: 0;
    z-index: $aside-z;
    box-shadow: 0 0 10px black;
  }


/******************************************** Event ********************************************/
  div.events{
    position: relative;
    height: 100%;
    width: 100%;


    div.event{
      position: relative;
      top: $above-now-height;
      height: $event-height;
      width: 100%;
      margin: 0 0 $event-border-bottom;
      z-index: $events-z;

      color: white;
      font-size: $event-fs;
      opacity: 0.8;

      transition: all ease-in-out 1s;

      &.now{ opacity: 1; }

      div.left{
        float: left;
        height: $event-left-height;
        padding: $event-padding-tb $event-left-padding-lr;
        width: $event-left-width;
        opacity: 0;
      }

      /************************************************** Right **************************************************/



      /****************** text before and after events block ******************/
      &:first-of-type div.right:before, &:last-of-type div.right:after{
        display: block;
        position: absolute;
        font-size: 16px;
        height: 20px;
        width: $event-right-width;
        text-align: center;
      }

      &:first-of-type div.right:before{
        content:"- Began of the Meeting -";
        top: -24px;
      }

      &:last-of-type div.right:after{
        content:"- End of the Meeting -";
        bottom: -24px;
      }




      /******************************************** Event -> Right ********************************************/
      div.right{
        @extend div.left;
        width: $event-right-width;
        background: $right-not-ongoing-bg;
        color: $right-not-ongoing-color;
        opacity: 1;

        div.time{
          opacity: 0.7;

          span{
            font-size: $event-2-fs;
          }
        }

        p.topic{
          padding: 8px 0;
          font-size: $event-topic-fs;
        }

        p.people{
          opacity: 0.7;
          font-size: $event-people-fs
        }

        span.icon{
          width: $icon-size;
          height: $icon-size;

          position: relative;
          top: 2px;
          display: inline-block;
          background-repeat: no-repeat;

          /*url for icons*/
          @each $type in time, speech, people, presentation, break{
            &.#{$type}{
              background: url('../img/icon/' + $type +'white.png');
              background-size: cover;
            }
          }
        }

        figure.circle{
          position:absolute;
          top: ($event-total-height - $event-circle-size)/2;
          right: $event-circle-right;
          border: $event-circle-stroke-width solid $circle-color;
          width: $event-circle-width;
          height: $event-circle-width;
          border-radius: $event-circle-size/2;

          &:before, &:after{
            content: "";
            position: absolute;
            left: ( $event-circle-width - $timeline-width ) / 2;
            height: ($event-total-height - $event-circle-width ) / 2;
            width: $timeline-width;
            background: $circle-color;
            z-index: $timeline-z;
          }

          &:before{
            top: - ($event-total-height - $event-circle-width ) / 2 ;

          }

          &:after{
            bottom: - ($event-total-height - $event-circle-width ) / 2;

          }
        }
      }

      /*------------------------------------------- Event -> Right END -------------------------------------------*/

      /* different styles for ongoing event */
      &.now{
        div.left{
          opacity: 1;
        }
        div.right{
          background: $right-ongoing-bg;
          color: $right-ongoing-color;

          figure.circle{
            background: $circle-color;
          }
        };
      }


    }

    /* timeline */
    &:after{
      content: "";
      position: absolute;
      top: 0;
      right: $event-circle-right + ($event-circle-size - $timeline-width)/2;


      height: 100%;
      width: $timeline-width;

      background: $circle-color;
      z-index: $timeline-z;
    }
  }

/*----------------------------------------------- Event END -----------------------------------------------*/








/************************************************** Panel **************************************************/
  section.panel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $panel-z;

    padding: 8%;
    height: 84%;
    width: 84%;

    background: $panel-bg;

    color: white;

    h2{
      text-align: center;
      font-size: 64px;
      padding-bottom: 24px;
      border-bottom: 2px solid white;
    }

    div.device{
      width: 96%;
      padding: 10px 2%;
      margin: 10px auto;
      overflow: auto;
      background: $panel-device-bg;

      &.off h5:after, &.on h5:after{
        content: "";
        display: inline-block;
        position: absolute;
        right: 8px;
        top: 2px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #c33837;
        box-shadow: 0 0 10px #c33837;
      }

      &.on h5:after{
        background: #3f803b;
        box-shadow: 0 0 4px #3f803b;
      }

      h5{
        font-size: $panel-device-name-fs;
        border-bottom: 1px solid #8e8e8e;
        position: relative;
        padding: 4px auto;
        margin: 4px auto;
        clear: both;
      }

      div.variable{
        float: left;
        clear: left;
        width: 50%;

        p{
          font-size: $panel-device-var-description-fs;
          padding: 3px 0;

          span{
            color: $device-var-name-color;
            font-size: $panel-device-var-name-fs;
            font-weight: 300;
          }
        }

      }

      div.function{
        @extend div.variable;
        float: right;
        clear: right;

        p{
          span{
            color: $device-fn-name-color;
          }
        }
      }
    }
  }
}