@import "var.scss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'PT Sans', sans-serif;
  font-weight: 330;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

section{
  float: left;
  width: 100%;
  height: 100%;

  aside{
  height: 100%;
  width: $aside-total-width;
  background: $aside-bg;
  position: fixed;
  top: 0;
  left: 0;

    /************** Aside Above **************/
    div.above{
      width: 100%;
      height: $above-now-height;

      p.date, p.clock{
        width: 100%;
        float: left; /* avoid content overflow*/
        font-size: $aside-above-fs;
        color: white;
        text-align: center;
        margin: $aside-above-margin-tb 0;
      }

      p.clock span{
        @include clock(2px);
      }

    }

    /************** Aside Ongoing **************/

    div.ongoing{
      height: 100px;
      width: 100%;

      margin: 0;
      padding: $event-padding-tb 0;
      font-size: $aside-ongoing-fs;
      text-align: center;
      color: white;

      background: $aside-ongoing-bg;

      div.remaining span{
        @include clock(2px);
      }
    }

  }

/************** Event **************/

  div.event{
    position: relative;
    top: $above-now-height;

    height: $event-height;
    width: 100%;

    margin: 0 0 $event-border-bottom;

    color: white;
    font-size: $event-fs;
    opacity: 0.8;

    transition: all ease-in-out 1s;

    &.now{
      opacity: 1;
    }

    div.left, div.right{
      float: left;
      height: $event-left-height;
      padding: $event-padding-tb $event-left-padding-lr;
    }

    div.left{
      width: $event-left-width;
      opacity: 0;
    }

    /************** RIGHT **************/

    div.right{
      width: $event-right-width;
      background: $right-not-ongoing-bg;
      color: $right-not-ongoing-color;

      div.time{
        opacity: 0.7;

        span{
          font-size: $event-2-fs;
        }
      }

      p.topic{
        padding: 8px 0;
        font-size: $event-topic-fs;
      }

      p.people{
        opacity: 0.7;
        font-size: $event-people-fs
      }

      span.icon{
        width: $icon-size;
        height: $icon-size;

        position: relative;
        top: 2px;
        display: inline-block;
        background-repeat: no-repeat;

        &.time{
          @include icon(clockwhite);
        }
        &.speech{
          @include icon(speakerwhite);
        }
        &.people{
          @include icon(peoplewhite);
        }
        &.presentation{
          @include icon(projecterwhite);
        }
      }
    }

    &.now{
      div.left{
        opacity: 1;
      }
      div.right{
        background: $right-ongoing-bg;
        color: $right-ongoing-color;
      };
    }
  }

  .panel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;

    padding: 20%;
    height: 60%;
    width: 60%;
    text-align: center;
    font-size: 64px;

    background: $panel-bg;

    color: white;
  }

}