@charset "UTF-8";
/***********************

          Z-INDEX

************************/
/***********************

          COLOR

************************/
/* BACKGROUND */
/* FONT */
/* OTHER */
/***********************

       DIMENSIONS

************************/
/* BOX MODEL */
/* aside */
/* aside right not in use anymore*/
/* events */
/* circle */
/* panel */
/* agenda */
/* device */
/*variable*/
/* var */
/* ICONS */
/* FONTS */
/*agenda*/
/*panel*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue' , sans-serif;
  color: white;
  font-weight: 150; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html p.tag, body p.tag {
    font-size: 16px;
    margin: 12px auto 8px;
    text-align: center; }

.progressBar {
  width: 80%;
  height: 20px;
  margin: 20px auto;
  position: relative;
  border: 1px solid white;
  border-radius: 15px;
  overflow: hidden; }
  .progressBar .progress {
    background: #ff6450;
    background-image: url("../img/progress_v.png");
    background-size: contain;
    height: 100%; }

button.panel {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 199;
  background: url("../img/icon/controlpanelwhite.png");
  background-size: contain; }

/*****************************************************************************************






                                            (__)　
                                            /oo\________
                                            \　/　　　　 \---\
                                             \/　　　 /　 \　 \
                                            　　\_|___\_|/  *
                                            　　  ||　 YY|   ***
          **                                　　  ||　　||   ****
*****************************************************************************************
*****************************************************************************************
*****************************************************************************************/
section {
  float: left;
  width: 100%;
  height: 100%;
  background: url("../img/artistic-photography-317486 copy.jpg");
  background-size: cover;
  /* timeline */
  /******************************************** Event ********************************************/
  /*----------------------------------------------- Event END -----------------------------------------------*/
  /************************************************** Panel **************************************************/ }
  section aside.left {
    height: 100%;
    width: 22%;
    background: #2f2f2f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    box-shadow: 0 0 10px black;
    /******************************************** Aside -> Above ********************************************/
    /******************************************** Aside -> Ongoing ********************************************/ }
    section aside.left div.above {
      width: 100%;
      height: 300px; }
      section aside.left div.above p.date, section aside.left div.above p.clock {
        width: 100%;
        float: left;
        /* avoid content overflow*/
        font-size: 36px;
        color: white;
        text-align: center;
        margin: 20px 0; }
      section aside.left div.above p.clock span {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0.2));
        border-radius: 4px;
        padding: 2px 6px;
        border: 1px solid white; }
    section aside.left div.ongoing {
      height: 100px;
      width: 100%;
      margin: 0;
      padding: 10px 0;
      font-size: 32px;
      text-align: center;
      color: white;
      background: #ff6450; }
      section aside.left div.ongoing div.remaining span {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.2) 51%, rgba(255, 255, 255, 0.2));
        border-radius: 4px;
        padding: 2px 6px;
        border: 1px solid white; }
  section aside.right {
    height: 100%;
    width: 0;
    background: #2f2f2f;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    box-shadow: 0 0 10px black; }
  section:after {
    content: "";
    position: absolute;
    top: 0;
    right: 34px;
    height: 100%;
    width: 2px;
    background: white;
    z-index: 0; }
  section div.events {
    position: relative;
    top: 300px;
    height: 100%;
    width: 100%; }
    section div.events div.event {
      position: relative;
      height: 120px;
      width: 100%;
      margin: 0 0 10px;
      z-index: 10;
      color: white;
      font-size: 24px;
      opacity: 0.8;
      transition: all ease-in-out 1s;
      /************************************************** Right **************************************************/
      /****************** text before and after events block ******************/
      /******************************************** Event -> Right ********************************************/
      /*------------------------------------------- Event -> Right END -------------------------------------------*/
      /* different styles for ongoing event */ }
      section div.events div.event.now {
        opacity: 1; }
      section div.events div.event div.left, section div.events div.event div.right {
        float: left;
        height: 100px;
        padding: 10px 1%;
        width: 20%;
        opacity: 0; }
      section div.events div.event:first-of-type div.right:before, section div.events div.event:last-of-type div.right:after {
        display: block;
        position: absolute;
        font-size: 16px;
        height: 20px;
        width: 76%;
        text-align: center; }
      section div.events div.event:first-of-type div.right:before {
        content: "- Began of the Meeting -";
        top: -24px; }
      section div.events div.event:last-of-type div.right:after {
        content: "- End of the Meeting -";
        bottom: -24px; }
      section div.events div.event div.right {
        width: 76%;
        background: rgba(0, 0, 0, 0.8);
        color: silver;
        opacity: 1; }
        section div.events div.event div.right div.time {
          opacity: 0.7; }
          section div.events div.event div.right div.time span {
            font-size: 20px; }
        section div.events div.event div.right p.topic {
          padding: 8px 0;
          font-size: 28px; }
        section div.events div.event div.right p.people {
          opacity: 0.7;
          font-size: 20px; }
        section div.events div.event div.right span.icon {
          width: 20px;
          height: 20px;
          position: relative;
          top: 2px;
          display: inline-block;
          background-repeat: no-repeat;
          /*url for icons*/ }
          section div.events div.event div.right span.icon.time {
            background: url("../img/icon/timewhite.png");
            background-size: cover; }
          section div.events div.event div.right span.icon.speech {
            background: url("../img/icon/speechwhite.png");
            background-size: cover; }
          section div.events div.event div.right span.icon.people {
            background: url("../img/icon/peoplewhite.png");
            background-size: cover; }
          section div.events div.event div.right span.icon.presentation {
            background: url("../img/icon/presentationwhite.png");
            background-size: cover; }
          section div.events div.event div.right span.icon.break {
            background: url("../img/icon/breakwhite.png");
            background-size: cover; }
        section div.events div.event div.right figure.circle {
          position: absolute;
          top: 50px;
          right: 20px;
          border: 2px solid white;
          width: 26px;
          height: 26px;
          border-radius: 15px; }
          section div.events div.event div.right figure.circle:before, section div.events div.event div.right figure.circle:after {
            content: "";
            position: absolute;
            left: 12px;
            height: 52px;
            width: 2px;
            background: white;
            z-index: 0; }
          section div.events div.event div.right figure.circle:before {
            top: -52px; }
          section div.events div.event div.right figure.circle:after {
            bottom: -52px; }
      section div.events div.event.now div.left, section div.events div.event.now div.right {
        opacity: 1; }
      section div.events div.event.now div.right {
        background: #ff6450;
        color: white; }
        section div.events div.event.now div.right figure.circle {
          background: white; }
  section section.panel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 88%;
    width: 88%;
    padding: 6% 6%;
    background: rgba(0, 0, 0, 0.9);
    color: white; }
    section section.panel h2 {
      text-align: center;
      font-size: 48px;
      padding-bottom: 24px;
      border-bottom: 2px solid white; }
    section section.panel div.device {
      width: 96%;
      padding: 10px 1%;
      margin: 10px auto;
      overflow: auto;
      background: #333333; }
      section section.panel div.device.off div.header:after, section section.panel div.device.on div.header:after {
        content: "";
        display: block;
        position: absolute;
        right: 0px;
        top: 4.5px;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background: #ff4343;
        box-shadow: 0 0 4px #ff4343; }
      section section.panel div.device.on div.header:after {
        background: #33ff3b;
        box-shadow: 0 0 4px #33ff3b; }
      section section.panel div.device div.header {
        position: relative;
        height: 30px;
        margin: 0 0 10px 0;
        border-bottom: 1px solid white; }
        section section.panel div.device div.header h5 {
          clear: both;
          font-size: 20px;
          line-height: 30px;
          height: 30px;
          position: relative; }
        section section.panel div.device div.header input {
          position: absolute;
          right: 14px;
          top: 4px;
          border: 1px solid white;
          border-radius: 0;
          background: #333333; }
      section section.panel div.device div.variable, section section.panel div.device div.function {
        float: left;
        clear: left;
        width: 50%;
        height: 22px;
        margin: 2px 0;
        font-size: 16px; }
        section section.panel div.device div.variable span.value, section section.panel div.device div.function span.value {
          width: 40px;
          height: 20px;
          display: inline-block;
          text-align: center;
          border: 1px solid white;
          border-radius: 4px; }
        section section.panel div.device div.variable span.value.true, section section.panel div.device div.function span.value.true {
          border: 1px solid #33ff3b;
          color: #33ff3b; }
        section section.panel div.device div.variable span.name, section section.panel div.device div.function span.name {
          color: #da97e7;
          font-size: 16px;
          font-weight: 300; }
        section section.panel div.device div.variable span.description, section section.panel div.device div.function span.description {
          font-size: 16px;
          padding: 3px 0; }
      section section.panel div.device div.function {
        float: right;
        clear: right; }
        section section.panel div.device div.function input[type=text] {
          background: #333333;
          border: 1px solid white;
          width: 40px;
          text-align: center;
          height: 20px;
          border-radius: 4px 0 0 4px; }
        section section.panel div.device div.function button {
          background: #333333;
          border: 1px solid white;
          height: 22px;
          padding: 0 4px;
          border-radius: 0 4px 4px 0;
          position: relative;
          left: -6px; }
          section section.panel div.device div.function button:hover {
            border-color: #33ff3b;
            cursor: pointer;
            color: #33ff3b; }
        section section.panel div.device div.function span.value {
          display: none; }
        section section.panel div.device div.function span.name {
          color: #c8de6a; }
